<h4>Author</h4>
<%= render 'users/avatar', user: article.published_by?, size: 'thumb' %>
<% cache article do -%>
  <p><%= link_to article.published_by?.username, vcard_user_path(article.published_by?) -%></p>
  <hr>
  <h4>Domain</h4>
  <%= article.domain.try(:parent_domain).try(:domain_name) %><br>
  <hr>
  <h4>Folder</h4>
  <%= strip_tags(article_folder_path(article.domain)) %>
  <hr>
  <% unless article.tags.empty? -%>
    <h4>Tags</h4>
    <%= render_article_tags article %>
    <hr>
  <% end -%>
  <h4>Created on</h4>
  <p><%= article.created_at.to_s(:short) %></p>
  <hr>
  <h4>Last activity on</h4>
  <p><%= article.updated_at.to_s(:short) %></p>
<% end -%>
