<% if @article.article_attachments.map(&:errors).map(&:any?).inject(){|i,f|i||f} %>
  <div class="alert alert-error row-fluid">
    <% @article.article_attachments.map(&:errors).each_with_index do |error, index| %>
      <% if error.any? -%>
        Attachment <%= index+1 %>: <br>
        <% error.messages.each_pair do |k, v| %>
          <%= k.to_s.humanize %>: <%= v.join(",") %><br>
        <% end -%><br>
      <% end -%>
    <% end -%>
  </div>
<% end -%>
