<%= link_to "Back", user_path(current_user), class: "btn btn-block btn-large" -%>
<%= f.submit "Save", class: "btn btn-primary btn-block btn-large" -%>
<%= link_to 'Preview', article_path(@article), data: { confirm: 'Have you saved your draft?' }, class: "btn btn-large btn-block" unless @article.new_record? %>

