<% if article.rejected? && article.rejection_reason %>
  <div class="row-fluid span12" style="line-height: 2em; border: 1px solid #e3e3e3; padding: 1em; word-wrap: break-word;">
    <i><div class="fluid-row text text-error"><h4><%= article.approver.domain.domain_name %> Co-ordinator's Comments</h4></div></i>
    <div class="fluid-row">
      <div class="span1" style="margin-top: 1em;">
        <%= render 'users/avatar', user: article.approver, size: 'nail' %>
        <div style = "word-wrap: break-word;">
          <p><%= link_to truncate(article.approver.username.split(" ").first, length: 10), vcard_user_path(article.approver) -%></p>
        </div>
      </div>
      <div class="span11" style="margin-top: 1em;">
        <i><blockquote><p class="alert alert-error text text-error"><%= article.rejection_reason %></p></blockquote></i>
      </div>
    </div>
  </div>
<% end -%>
