<div class="span6">
  <h4><%= link_to(truncate(result_article.subject, length: 50), article_path(result_article)) -%><br></h4>
  <p><%= truncate(strip_tags(result_article.description), length: 100) %></p>
  <p><%= render_article_tags result_article %></p>

  <p class="muted">posted in
  <%= article_folder_path result_article.domain %>
  <%= time_ago_in_words(result_article.created_at) %> ago</p>

  <p class="muted">last activity
  <%= time_ago_in_words(result_article.updated_at) %> ago</p>

  <p class="pull-right"><b><span class ="badge icon-star badge-warning">&nbsp;<%= pluralize(result_article.cached_votes_total, '') %></span></b></p>
  <%= like_button result_article %>
</div>
<div class="span2">
  <p><%= render_article_action_buttons(result_article, "btn btn-small btn-block").html_safe %></p>
</div>
