<hr>
<div class="row-fluid">
  <div class="offset1 span2">
    <%= render 'users/avatar', user: result_article.published_by?, size: 'thumb' %>
    <p><%= link_to result_article.published_by?.username, vcard_user_path(result_article.published_by?) -%></p>
  </div>
  <%= render 'result_article_content', result_article: result_article %>
</div>
