<%= render :partial => 'article_header' %>
<br>
<%= simple_nested_form_for @article do |f| -%>
  <%= render :partial => 'article_errors' %>
  
  <div class="form-inputs">
    <div class="row-fluid">
      <div class="span6">
        <%= f.input :subject, input_html: { maxlength: 200 } %>
        <%= f.label :domain_id, label: "Please select the folder where you wish to place this article" %>
        <hr>
        <% if @article.errors[:domain_id].any? -%>
          <div class="alert alert-error row-fluid">
            <div id="flash-error"><%= @article.errors[:domain_id].first %></div>
          </div>
        <% end -%>
        <div class="folders">
          <%= render 'domains/folders', folders: @folders, parent: @parent %>
        </div>
        <hr>
        <div class="parent">
          <%= hidden_field_tag :domain_id, @article.domain_id %>
        </div>
        <%= f.association :tags, label_method: :tag_name, value_method: :id, input_html: {class: "tags input-xxlarge"} %><br><br>
        <p class="muted"><b>Max. attachment size is <span class="text-error"><%= current_user.user_upload_limit %> MB</span></b></p>
        <%= f.link_to_add ' Add Attachment', :article_attachments, class: "btn btn-primary icon-plus"%><br><br>
      </div>

      <div class="offset4 span2">
        <%= render 'article_actions', f: f %>
      </div>
    </div>

    <div class="row-fluid attachments">
        <%= render 'article_attachments', f: f %>
    </div>

    <div class="row-fluid">
      <div class="span12">
        <%= f.input :description, input_html: {class: "editor", maxlength: 20000} %>
      </div>
    </div>
  </div>
<% end -%>
