<div class = "header well">
  <%= render 'display_article_header', article: @article %>
</div>
<div class="row-fluid">
  <div class="span2" style="border-right: 1px solid #e3e3e3;">
    <%= render 'article_info', article: @article %>
  </div>
  <div class="span8">
    <%= render 'rejection_reason', article: @article %>

    <div class="row-fluid">
      <%= render 'display_article_attachments', article: @article %>
    </div>

    <div class="row-fluid">
        <%= render 'display_article_description', article: @article %>
    </div>
  </div>
  <div class="span2 pull-right" style="border: 1px solid #e3e3e3; padding: 2em;">
    <h4>Actions</h4>
    <hr>
    <%= link_to("Back", user_path(current_user), class: "btn btn-block") %>
    <%= render_article_action_buttons(@article, "btn btn-block").html_safe -%>
  </div>
</div>
