<%= simple_form_for(@notification) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :subject %>
    <%= f.input :content, input_html: {rows: '5'} %>
    <%= f.input :active %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
    <%= link_to 'Back', notifications_path, class: "btn" %>
  </div>
<% end %>
