<%= link_to(render_avatar(user, size), vcard_user_path(user)) %>
<br>
<% if user == current_user && size != "nail" -%>
  <small><b><%= link_to 'Edit Profile', edit_user_path(current_user), class: "muted" %></b></small>
<% end -%>
