<%- if current_user.admin? or current_user.role == 'coordinator' %>
  <h4>Action Items</h4>
  <h1><%= link_to current_user.km_coordinator_pending_approvals.count,
    articles_path(km_pending: true), remote: true, class: "ajax_page" %></h1>
  <hr>
<% end -%>
