<%= simple_nested_form_for(@user, url: user_path(@user), method: :put) do |f| %>
  <%= f.error_notification %>

  <div class="row-fluid">
    <div class="form-inputs">
      <div class="fluid-row">
        <%= f.input :username, label: 'Name' %>
        <%= f.input :email %>
        <%= f.input :designation %>
        <%= f.input :mobile %>
        <%= f.input :date_of_birth, as: :string, label: "Date of birth", input_html: { class: "dateofbirth" } %>
        <%= f.input :state, label: "Location" %>
        <%= f.input :avatar, as: :file, label: "Profile Picture", hint: "Size of the picture should not exceed 1 Mb" %>
        <%= f.input :remove_avatar, as: :boolean %>
        <% if current_user.admin? -%>
          <%= f.input :role, collection: User.roles %>
          <%= f.input :domain_id, collection: Domain.list_domains, value_method: :id, label_method: :domain_name %>
          <%= f.input :upload_limit %>
        <% end -%>
        <%= f.input :about_me, input_html: {rows: 4} %>
        <%= f.input :password %>
        <%= f.input :password_confirmation %>
        <%= f.link_to_add ' Add Skill', :skills, class: "btn btn-primary icon-plus"%><br><br>
        <%= f.link_to_add ' Add Interest', :interests, class: "btn btn-primary icon-plus"%><br><br>
      </div>
      <div class="row-fluid skills">
        <%= f.simple_fields_for :skills do |a| -%>
          <div class="span4 well" style="margin-right: 10px">
            <strong class="muted">Skill</strong>
            <%= a.input_field :skill_name, placeholder: "Skill" %><br>
            <%= a.link_to_remove ' remove', class: 'icon-remove badge'%>
          </div>
        <% end -%>
      </div>
      <div class="row-fluid interests">
        <%= f.simple_fields_for :interests do |a| -%>
          <div class="span4 well" style="margin-right: 10px">
            <strong class="muted">Interest</strong>
            <%= a.input_field :interest_name, placeholder: "Interest" %><br>
            <%= a.link_to_remove ' remove', class: 'icon-remove badge'%>
          </div>
        <% end -%>
      </div>
    </div>
  </div>

  <div class="row-fluid">
    <div class="form-actions">
      <%= f.button :submit, class: "btn btn-primary" %>
      <%= link_to 'Back', user_path(@user), class: "btn" %>
    </div>
  </div>
<% end %>
