<div class="span12">
  <div class="row-fluid">
    <div class='span3 center' style="">
      <div class="row-fluid">
        <%= render 'avatar', user: user, size: 'large' -%>
      </div>
      <div class="row-fluid">
        <hr>
        <h2 class="muted">Contributed <%= pluralize user.published_articles.count, "article" %></h2>
      </div>
    </div>
    <div class='span9'>
      <h1><%= user.username.camelcase %> <small class="muted"><b>(<%= user.email %>)</b></small></h1>
      <hr>
      <div class="row-fluid">
        <div class="span6">
          <h4>Domain: <%= user.domain.domain_name %></h4>
          <h4>Designation: <%= user.designation %></h4>
          <h4>Skills: <small><b><%= user.list_of_skills %></b></small></h4>
        </div>
        <div class="span6">
          <h4>Location: <%= user.state %></h4>
          <h4>Mobile: <%= user.mobile %></h4>
          <h4>Interests: <small><b><%= user.list_of_interests %></b></small></h4>
        </div>
      </div>
      <div class="row-fluid">
        <hr>
        <h4>About Me</h4>
        <p><%= user.about_me -%></p>
      </div>
    </div>
  </div>
</div>
