<h1>Employee Lookup</h1>
<hr>
<% if current_user.admin? -%>
  <%= link_to 'New User', new_user_path, class: "btn btn-primary" %>
<hr>
<% end -%>
<div class="span2 pull-right center" style="font-size: 120%"><b>Total:</b> <%= @users.count %></div>
<div class="search-bar">
  <%= form_tag users_path, method: :get, class: "form-search" do %>
    <%= text_field_tag :search, nil, placeholder: "Search Employees by name, email, domain, designation or skill sets", class: "span6" %>
    <%= submit_tag 'Search', class: "btn" %>
  <% end -%>
</div>

<table class="table table-bordered" id="">
  <thead>
    <th>Name</th>
    <th>Email</th>
    <th>Domain</th>
    <th>Designation</th>
    <th>Location</th>
    <th>Skills</th>
    <th>DOB</th>
    <% if current_user.admin? -%>
      <th>Role</th>
      <th>Last Login</th>
      <th>Last Activity</th>
      <th>Status</th>
      <th>Retire!</th>
      <th></th>
      <th></th>
    <% end -%>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.username, vcard_user_path(user) %></td>
        <td><%= user.email %></td>
        <td><%= user.domain.domain_name %></td>
        <td><%= user.designation %></td>
        <td><%= user.state %></td>
        <td><%= truncate(user.list_of_skills, size: 50) %></td>
        <td><%= user.date_of_birth ? user.date_of_birth.to_s(:short) : "N/A" %></td>
        <% if current_user.admin? -%>
          <td><%= user.role %></td>
          <td><%= time_ago_in_words user.last_login_at rescue "N/A" %></td>
          <td><%= time_ago_in_words user.last_activity_at rescue "N/A" %></td>
          <td><%= user.retired? ? "Retired" : "Active" -%></td>
          <% if user.retired? -%>
            <td><%= link_to 'Revoke Retirement', revoke_retirement_user_path(user), method: :put, class: "btn btn-success btn-mini" %></td>
          <% else -%>
            <td><%= link_to 'Retire', retire_user_path(user), method: :put, class: "btn btn-danger btn-mini" %></td>
          <% end -%>
          <td><%= link_to 'Show', user %></td>
          <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <% end -%>
      </tr>
    <% end %>
  </tbody>
  
<%= will_paginate @users -%>
</table>
