<%= simple_form_for(@domain) do |f| %>
  <% if @domain.errors[:domain_id].any? %>
    <div class="alert alert-error row-fluid">
      <% @domain.errors.messages.each_pair do |key, message|%>
        <%= message.join(", ") %>
      <% end %>
    </div>
  <% end %>

  <div class="form-inputs">
    <%= f.input :domain_name %>
    <div class="folders well">
      <%= render 'folders', folders: @folders, parent: @parent %>
    </div>
    <div class="parent">
      <%= hidden_field_tag :domain_id, nil %>
    </div>
    <%= f.input :welcome_message, input_html: {rows: 5, maxlength: 500} %>
    <%= f.input :display_image_only, hint: "Only the banner image will be displayed when the folder is opened. Domain name & welcome message will be hidden" %>
    <%= f.input :banner, as: :file, hint: "Recommended dimensions: 728x90 pixels" %>
    <%= f.input :remove_banner, as: :boolean %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
