<%= simple_form_for(@tag) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :tag_name %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
    <%= link_to 'Back', tags_path, class: "btn" %>
  </div>
<% end %>
