    <% if current_user && notifications.any? %>
      <div class="row-fluid">
        <ul id="notifications_feed" class="js-hidden span12">
        <% notifications.each do |notification| -%>
          <li class="news-item"><a href="#"><%= notification.content %></a></li>
        <% end -%>
        </ul>
      </div>
    <% end %>
