<hr>
<div class="row-fluid">
  <div class="span4">
    <%= image_tag 'ftl.png', width: '160', height: '200', align: 'left'  %>
  </div>
  <div class="span4 center">
    &copy; 2013 Forbes Technosys Ltd.
  </div>
  <div class="span4">
    <%= image_tag 'sp.png', width: '100', height: '40', align: 'right'  %>
  </div>
</div>
